<div class="max-w-md mt-4 mx-auto bg-gray-800 p-6 rounded-lg shadow-lg text-white">
    <h2 class="text-2xl font-bold mb-4">Create Your Workout Schedule</h2>
    <div *ngFor="let day of daysOfWeeks">
        <label class="block text-lg mb-2 capitalize">{{ day }}</label>
        <input [(ngModel)]="workoutSchedule[day]" type="text" name="workoutSchedule" class="w-full p-2 mb-4 bg-gray-700 rounded text-white"
            placeholder="Enter workout for {{ day }}">
    </div>

    <button (click)="onSaveSchedule()" class="mt-4 w-full bg-blue-500 hover:bg-blue-600 p-2 rounded text-white">
        Save Schedule
    </button>
</div>